<html>
<head>
    <title>Game</title>

    <link rel='stylesheet' href='/css/style.css' />

    <script src="/javascripts/socket.io-1.4.5.js"></script>
    <script src="/javascripts/phaser.js"></script>
    <script src="/javascripts/bundle.js"></script>

</head>

<body>
    <div id="content"></div>
</body>

</html>